@import "tailwindcss";

:root {
  --background: #FFFFFFF;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}